[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
ipywidgets = "*"
bqplot = "*"
yamlordereddictloader = "*"
juts = {editable = true, path = "."}
jupyterlab = "*"
ipympl = "*"
control = "*"
ipyvolume = "*"

[dev-packages]

[requires]
python_version = "3.11"
