[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
juts = {editable = true, path = "."}
scipy = "*"
jupyterlab = "*"
ipywidgets = "*"
bqplot = "*"
ipympl = "*"
ipyvolume = "*"
yamlordereddictloader = "*"
nbconvert = "*"
nbstripout = "*"

[dev-packages]

[requires]
python_version = "3.11"
